.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.titleContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px 10px 10px;
    border: 0;
    border-bottom: 1px solid var(--border-primary);
    background-color: transparent;
    cursor: pointer;
    gap: 10px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-primary);
    border-radius: 4px;
    width: 24px;
    height: 24px;
    color: var(--icon-primary);
}

.button svg {
    transition: transform 0.2s linear;
}

.button[data-opened='true'] svg {
    transform: rotate(-180deg);
}

.icon {
    align-self: start;
    padding-top: 5px;
}

.accordion {
    width: 100%;
    transition: height 0.25s linear;
    overflow: hidden;
    flex-shrink: 0;
}

.title {
    font-family: var(--font-semi-bold);
    font-size: var(--font-size-extra-large);
    margin: 0;
    color: var(--text-primary);
    text-align: left;
}

.caption {
    font-family: var(--font-regular);
    color: var(--text-secondary);
    font-size: var(--font-size-small);
}

.invisibleBottom {
    height: 1px;
    opacity: 0;
}
