.button {
    position: relative;
    border: 0;
    padding: 8px 12px;
    width: fit-content;
    border-radius: 6px;
    background-color: var(--surface-brand-contrast);
    color: var(--text-invert);
    font-family: var(--fontNormal);
    cursor: pointer;
    transition: background-color 0.2s linear;
    box-sizing: border-box;
    transform-origin: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    min-height: 42px;
    justify-content: center;
    text-transform: none;
    flex-shrink: 0;
}

.button:hover {
    background-color: var(--surface-brand-heavy-contrast)
}

.button:focus {
    outline: 2px solid var(--border-outline);
}

.button:disabled{
    background-color: var(--surface-secondary);
    cursor: default;
    color: var(--text-contrast);
    pointer-events: none;
}

.button[data-variant="secondary"] {
    background-color: transparent;
    border: 1px solid var(--border-primary);
    color: var(--text-secondary);
}

.button[data-variant="secondary"]:hover {
    background-color: var(--surface-tertiary);
    border: 1px solid var(--border-tertiary);
}

.button[data-variant="secondary"]:focus {
    outline: 2px solid var(--border-outline);
}

.button[data-variant="secondary"]:disabled {
    background-color: var(--surface-secondary);
    border: 1px solid var(--surface-secondary);
    color: var(--text-contrast);
    pointer-events: none;
}

.button[data-variant="outline"] {
    background-color: transparent;
    border: 1px solid var(--border-brand-contrast);
    color: var(--text-brand);
}

.button[data-variant="outline"]:hover {
    background-color: var(--surface-brand);
}

.button[data-variant="outline"]:focus {
    outline: 2px solid var(--border-outline);
}

.button[data-variant="outline"]:disabled {
    background-color: var(--surface-secondary);
    border: 1px solid var(--surface-secondary);
    color: var(--text-contrast);
    pointer-events: none;
}

.button[data-variant="text"] {
    border: 0;
    background-color: transparent;
    color: var(--text-secondary);
    padding: 6px 0px;
}

.button[data-variant="text"]:hover {
    text-decoration: underline;
}

.button[data-variant="text"]:focus {
    outline: 2px solid var(--border-outline);
}

.button[data-variant="text"]:disabled {
    color: var(--text-contrast);
    pointer-events: none;
}

.button[data-variant="icon"] {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    border: 0;
    background-color: transparent;
    color: var(--icon-primary);
    padding: 6px 8px;
}

.button[data-variant="icon"]:hover {
    background-color: var(--surface-tertiary);
}

.button[data-variant="icon"]:focus {
    outline: 2px solid var(--border-outline);
}

.button[data-variant="icon"]:disabled {
    color: var(--text-contrast);
    background-color: var(--surface-secondary);
}

.button[data-size="large"] {
    height: 52px;
    font-size: var(--fontSizeLarge);
}
