.button {
    position: relative;
    border: 0;
    padding: 8px 12px;
    border-radius: 6px;
    background-color: var(--surface-brand-contrast);
    color: var(--text-invert);
    font-family: var(--font-regular);
    cursor: pointer;
    transition: background-color 0.2s linear;
    box-sizing: border-box;
    transform-origin: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    min-height: 42px;
    justify-content: center;
    text-transform: none;
    flex-shrink: 0;
}

.button:hover {
    background-color: var(--surface-brand-heavy-contrast);
}

.button:focus {
    outline: 2px solid var(--border-brand-outline);
}

.button:disabled {
    background-color: var(--surface-secondary);
    cursor: default;
    color: var(--text-contrast);
    pointer-events: none;
}

.buttonSecondary {
    background-color: transparent;
    border: 1px solid var(--border-primary);
    color: var(--text-secondary);
}

.buttonSecondary:hover {
    background-color: var(--surface-tertiary);
    border: 1px solid var(--border-tertiary);
}

.buttonSecondary:focus {
    outline: 2px solid var(--border-brand-outline);
}

.buttonSecondary:disabled {
    background-color: var(--surface-secondary);
    border: 1px solid var(--surface-secondary);
    color: var(--text-contrast);
    pointer-events: none;
}

.buttonOutline {
    background-color: transparent;
    border: 1px solid var(--border-brand-contrast);
    color: var(--text-brand);
}

.buttonOutline:hover {
    background-color: var(--surface-brand);
}

.buttonOutline:focus {
    outline: 2px solid var(--border-brand-outline);
}

.buttonOutline:disabled {
    background-color: var(--surface-secondary);
    border: 1px solid var(--surface-secondary);
    color: var(--text-contrast);
    pointer-events: none;
}

.buttonText {
    border: 0;
    background-color: transparent;
    color: var(--text-secondary);
    padding: 6px 0px;
}

.buttonText:hover {
    text-decoration: underline;
    background-color: transparent;
}

.buttonText:focus {
    outline: 2px solid var(--border-brand-outline);
}

.buttonText:disabled {
    color: var(--text-contrast);
    pointer-events: none;
}

.buttonIcon {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    border: 0;
    background-color: transparent;
    color: var(--icon-primary);
    padding: 6px 8px;
    align-items: center;
    justify-content: center;
}

.buttonIcon:hover {
    background-color: var(--surface-tertiary);
}

.buttonIcon:focus {
    outline: 2px solid var(--border-brand-outline);
}

.buttonIcon:disabled {
    color: var(--text-contrast);
    background-color: var(--surface-secondary);
}

.button[data-size='large'] {
    height: 52px;
    font-size: var(--font-size-large);
}

.badgeContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.badgeContainer > :first-child {
    position: absolute;
    right: -10px;
    top: -6px;
}
