.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input {
    cursor: pointer;
    width: 16px;
    min-width: 16px;
    height: 16px;
    min-height: 16px;
    appearance: none;
    border: 1px solid var(--primaryBorderColor);
    border-radius: 2px;
    display: grid;
    place-content: center;
    color: white;
}

.input:checked {
   background-color: var(--primaryColor);
   border: 1px solid var(--primaryBorderColor);
}

.input:disabled {
    border: 1px solid var(--primaryDisabledColor);
}

.input:disabled:checked {
    background-color: var(--primaryDisabledColor);
}

.input:checked::before {
    content: '""';
    clip-path: url(#check-icon-clip-path);
    width: 10px;
    height: 10px;
    background-color: white;
    margin-left: 2px;
    margin-top: 1px;
}

.hidden {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 100%;
}
