.dialogContainer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    animation: modal-open 0.2s ease-out;
}

.dialogContainer[data-position="right"] {
    align-items: flex-end;
}


.dialogContainer[data-position="top"] {
    justify-content: flex-start;
}

.dialogContainer[data-position="bottom"] {
    justify-content: flex-end;
}

.dialogContainer[data-position="left"] {
    align-items: flex-start;
}

.openDialogContainer {
    animation: modal-open 0.2s ease-out;
    animation-fill-mode: forwards;
}

.closeDialogContainer {
    animation: modal-close 100ms ease-out;
    animation-fill-mode: forwards;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 110;
}

.dialogContent {
    background-color: var(--surface-primary);
    border: 1px solid var(--border-primary);
    padding: 24px;
    max-height: 90vh;
    max-width: 90vw;
    border-radius: 10px;
    z-index: 120;
    position: relative;
    overflow-y: visible;
}

.dialogContent[data-position="right"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.dialogContent[data-position="bottom"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dialogContent[data-position="top"] {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.dialogContent[data-position="left"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.title {
    color: var(--text-brand);
    text-align: center;
    font-size: var(--font-size-extra-large);
    font-family: var(--font-semi-bold);
    margin: 0 0 10px 0;
}

.loadingContainer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

@keyframes modal-open {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes modal-close {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}
