.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: auto;
    max-height: 85%;
    overflow-y: scroll;
    padding: 0 8px;
}

@media (max-width: 600px) {
    .container{
        max-height: 75%;
    }
}
