.container {
    width: 100%;
    color: var(--text-primary);
    font-family: var(--font-regular);
    font-size: var(--font-size-small);
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
}
