.container {
    width: 100%;
    color: var(--fontColorNormal);
    font-family: var(--font-regular);
    font-size: var(--font-size-small);
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
}

.container:hover {
    background-color: var(--fontHoverColor);
}
