
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px
}

.inputContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 84px;
    border: 1px dashed var(--border-primary);
    border-radius: 8px;
    font-size: var(--font-size-regular);
    font-family: var(--font-regular);
    color: var(--text-secondary);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.inputContainer[data-disabled="true"] {
    background-color: var(--surface-secondary);
}

.inputContainer[data-error="true"] {
    border: 1px dashed var(--border-danger);
}

.imageContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px
}

.image {
    object-fit: cover;
    border-radius: 4px;
}

.labelContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.labelsContainer {
    display: flex;
    flex-direction: column;
}
