.inputWrapper {
    position: relative;
    min-width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.labelContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.inputContainer {
    height: 42px;
    padding: 14px;
    width: 100%;
    border: 1px solid var(--border-primary);
    background-color: transparent;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
}

.inputContainerDisabled {
    height: 42px;
    padding: 14px;
    width: 100%;
    border: 1px solid var(--border-primary);
    background-color: var(--surface-secondary);
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;
}

.inputContainer[data-error='true'] {
    border: 2px solid var(--border-danger);
}

.inputContainer[data-focus='true'] {
    outline: 2px solid var(--border-brand-outline);
}

.inputContainer:disabled {
    background-color: 2px solid var(--border-brand-outline);
}

.input {
    box-sizing: border-box;
    color: var(--text-primary);
    width: 100%;
    font-family: var(--font-light);
    border: 0;
    background-color: transparent;
    outline: 0;
}

.icon {
    color: var(--icon-primary);
    width: 16px;
    height: 16px;
}
