.label {
    font-size: var(--font-size-regular);
    font-family: var(--font-regular);
    color: var(--text-primary);
}

.label[for] {
    cursor: pointer;
}

.labelError {
    color: var(--text-danger);
}

.label[aria-disabled="true"] {
    color: var(--text-contrast);
}
