.label {
    font-size: var(--fontSizeNormal);
    font-family: var(--fontNormal);
    color: var(--fontColorNormal);
}

.label[for] {
    cursor: pointer;
}

.labelError {
    color: var(--fontColorError);
}

.label[aria-disabled="true"] {
    color: var(--fontColorDisabled);
}
