.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 0;
}

.radiosContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.radiosContainerHorizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.labelContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label {
    display: flex;
    flex-direction: row;
    align-items: center;
}
