
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.optionSelected {
    background-color: var(--surface-brand)
}

.disabled {
    background-color: var(--surface-secondary);
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-family: var(--fontNormal);
    height: 40px
}
