.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tabs {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    overflow-y: auto;
}

.tab {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 8px 24px;
    font-family: var(--font-regular);
    font-size: var(--font-size-regular);
    color: var(--text-primary);
    cursor: pointer;
    gap: 8px;
    background-color: transparent;
    border: none;
    transition: 300ms ease;
    border-bottom: 2px solid transparent;
}

.tab:hover {
    background-color: var(--surface-brand);
}

.tab[aria-selected='true'] {
    font-family: var(--font-medium);
    text-transform: none;
    font-size: var(--font-size-regular);
    color: var(--text-brand);
    border-bottom: 2px solid var(--border-brand-contrast);
}

.badge {
    background-color: var(--surface-tertiary);
    color: var(--text-secondary);
    padding: 2px 18px;
    border-radius: 8px;
    font-family: var(--font-medium);
    font-size: var(--font-size-small);
    text-align: center;
}

.badge[aria-selected='true'] {
    background-color: var(--surface-brand);
    color: var(--text-secondary);
}

.tabContainer {
    padding-top: 24px;
}

@media (max-width: 600px) {
    .container {
        padding: 0 20px;
    }

    .tabs {
        overflow-x: scroll;
    }

    .tabs::-webkit-scrollbar {
        display: none;
    }

    .badge {
        display: none;
    }
}
