.inputWrapper {
    position: relative;
    min-width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px
}

.labelContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.input {
    box-sizing: border-box;
    color: var(--text-primary);
    width: 100%;
    font-family: var(--font-light);
    background-color: transparent;
    outline: 0;
    resize: none;
    height: 110px;
    padding: 14px;
    border: 1px solid var(--border-primary);
    border-radius: 4px;
}

.input:disabled {
    background-color: var(--surface-secondary);
}

.input:focus {
    outline: 2px solid var(--border-brand-outline);
}

.input[data-error="true"] {
    border: 2px solid var(--border-danger);
}

.icon {
    color: var(--icon-primary);
    width: 16px;
    height: 16px;
}
