.tooltip {
    position: relative;
    display: flex;
    align-items: center;
}

.text {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: var(--surface-heavy-contrast);
    color: vart(--text-invert);
    font-family: var(--fontNormal);
    font-size: var(--fontSizeSmall);
    padding: 6px 12px;
    display: none;
    border-radius: 4px;
    z-index: 99;
    width: max-content;
    max-width: 200px;
    text-align: center;
}

.visible {
    display: flex;
}
