.tooltip {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
}

.text {
    position: fixed;
    background-color: #5c5e61;
    color: white;
    font-family: var(--fontNormal);
    font-size: var(--fontSizeSmall);
    padding: 6px 12px;
    border-radius: 4px;
    z-index: 99;
    width: max-content;
    max-width: 200px;
    text-align: center;
    margin: 0;
    display: none;
}

.text[aria-hidden="false"] {
    display: block;
}
