.tooltip {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
}

.text {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: var(--surface-heavy-contrast);
    color: var(--text-invert);
    font-family: var(--font-regular);
    font-size: var(--font-size-small);
    padding: 6px 12px;
    border-radius: 4px;
    z-index: 99;
    width: max-content;
    max-width: 200px;
    text-align: center;
    margin: 0;
    display: none;
}

.text[aria-hidden="false"] {
    display: block;
}
