html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
}

#root {
  height: 100%;
  width: 100%;
}

#app-container {
  height: 100%;
  width: 100%;
}

:root {
  /* fonts */
  --fontLight: 'PoppinsLight';
  --fontNormal: 'PoppinsRegular';
  --fontMedium: 'PoppinsMedium';
  --fontSemiBold: 'PoppinsSemiBold';
  --fontBold: 'PoppinsBold';

  /* text sizes */
  --fontSizeSmall: 12px;
  --fontSizeNormal: 14px;
  --fontSizeLarge: 16px;

  /* text colors */
  --fontColorNormal: #2E3748;
  --fontColorError: red;
  --fontColorDisabled: #BDBDBD;
  --fontColorLight: #40464d;
  --fontHoverColor: #0000000A;

  /* colors */
  --primaryColor: #06B7A2;
  --primaryHover: #198074;
  --primaryOutline: #1A73F9;
  --primaryBorderColor: #D9D9D9;
  --primaryDisabledColor: #F1F1F1;


  --secondaryColor: #616B79;
  --secondaryHover: #8A95A5;
  --secondaryOutline: #1A73F9;
  --secondaryBorderColor: #D9D9D9;
  --secondaryDisabledColor: #F1F1F1;

  --outlineColor: #06B7A2;
  --outlineHover: #EBFFF9;
  --outlineOutline: #1A73F9;
  --outlineBorderColor: #D9D9D9;
  --outlineDisabledColor: #F1F1F1;


}
